@import "./partials/bootstrap-overrides";
body {
  .navbar img {
    height: 50px;
  }
}

.container-fluid {
  max-width: 60%;
}

.navbar {
  .container {
    padding-inline: 0;
  }
}

.dropdown {
  padding-inline: 0;
}

section {
  .img-fluid {
    transition: 300ms;
  }
  .img-fluid:hover {
    transform: scale(1.1);
  }
}
